<div class="bg-gunMetal h-[100vh]">
  <div class="flex flex-col justify-center items-center h-full">
    <p class="text-white text-4xl lg:text-xl font-semibold mb-5">
      Sorry page not found
    </p>
    <a
      href="/"
      class="text-3xl px-3 py-3 bg-[cyan] text-black font-semibold lg:px-4 lg:py-4"
      >Go back Home</a
    >
  </div>
</div>
