---
interface Props {
  error: unknown;
}

const { error } = Astro.props;
---

<div class="bg-gunMetal h-[100vh]">
  <div class="flex justify-center items-center h-full">
    <div class="text-white text-xl font-semibold">
      {error instanceof Error ? error.message : "Unknown error"}
    </div>
  </div>
</div>
