---
import Banner from "../components/Banner.astro";
import Layout from "../layouts/Layout.astro";
import Card from "../components/Card.astro";
import Contact from "../components/Contact.astro";
---

<Layout title="About">
  <main class="bg-white">
    <section
      class="about-section relative w-full mx-auto py-[130px] bg-white lg:py-[200px]"
    >
      <!-- <div class="background-overlay"></div> -->

      <div
        class="container flex h-full px-8 item-start flex-wrap mx-auto relative z-50"
      >
        <div class="w-full flex items-start relative">
          <h1 class="text-6xl font-bold">ABOUT</h1>
        </div>

        <div class="w-[85%] lg:w-[50%] flex items-start relative">
          <div
            class="flex pt-14 items-center content-start flex-wrap relative w-full self-stretch"
          >
            <div class="w-full md:w-[80%] lg:w-[80%] flex relative mb-20">
              <p class="bg-slate-50 bg-opacity-20 font-semibold md:p-3">
                At Abstracts Power Wash, we are committed to providing the
                highest quality power washing services to our clients. Our team
                of professionals is dedicated to creating beautiful outdoor
                spaces that are designed to last. We believe in providing
                exceptional customer service to our clients and are committed to
                providing reliable service that our clients can depend on.
              </p>
            </div>

            <div class="flex gap-3">
              <button
                class="bg-cyan-300 font-semibold rounded-lg py-3 px-5 hover:bg-darker_cafe lg:hover:scale-105 transition-all"
                ><a href="/#services">OUR SERVICES</a></button
              >

              <button
                class="bg-cyan-300 font-semibold rounded-lg py-3 px-5 hover:bg-darker_cafe lg:hover:scale-105 transition-all"
                ><a href="/contact">CONTACT US</a></button
              >
            </div>
          </div>
        </div>
      </div>
    </section>

    <section class="bg-gunMetal">
      <div class="container mx-auto py-16">
        <div
          class="flex flex-col-reverse lg:flex-row justify-center items-center lg:justify-between lg:px-20"
        >
          <div class="w-full px-6 lg:w-[40%]">
            <h2 class="text-4xl font-bold text-white">
              Experts In Power Washing Services
            </h2>
            <p class="font-semibold text-lg text-cafe text-gray-400">
              FOUNDED IN 2024
            </p>
            <p class="py-5 text-white md:w-[560px] lg:w-[960px]">
              In 2024, Alfredo and Tanya Barillas embarked on a new venture by
              opening their family-owned power wash company. With just a small
              truck and a few essential tools, they were determined to make a
              difference in their community by providing top-notch cleaning
              services. Their dedication and hard work quickly paid off, as they
              expanded from serving a handful of residential clients to catering
              to commercial clients as well. The couple's commitment to quality
              and customer satisfaction has been the cornerstone of their
              success. Today, their company stands as a testament to their
              passion and the strong family values that drive their business.
            </p>

            <button
              class="inline-block font-bold cursor-pointer rounded-full bg-pastelRed px-4 py-3 md:px-5 lg:px-6 lg:py-4"
              ><a href="/contact">CONTACT US</a></button
            >
          </div>

          <!-- <div class="w-full mx-auto p-10 lg:w-[50%]">
            <img
              src={mvlandscape.src}
              alt="About"
              class="w-full h-full object-cover"
            />
          </div> -->
        </div>
      </div>
    </section>

    <section class="bg-[#fff] text-black">
      <div class="p-10 lg:p-20">
        <div>
          <h2 class="text-4xl font-bold text-center pb-10">WHAT DEFINES US</h2>
        </div>

        <div>
          <div class="flex flex-wrap pt-5">
            <Card
              title="Quality"
              body="We are committed to providing the highest quality landscaping services to our clients. Our team of professionals is dedicated to creating beautiful outdoor spaces that are designed to last."
            />

            <Card
              title="Customer Service"
              body="We believe in providing exceptional customer service to our clients. Our team is dedicated to ensuring that our clients are satisfied with the work that we do."
            />

            <Card
              title="Reliable Service"
              body="We understand that our clients rely on us to provide high-quality landscaping services. We are committed to providing reliable service that our clients can depend on."
            />

            <!-- <div class="mb-3 lg:w-[33.3%] text-center">
              <h3 class="text-2xl font-bold pb-3">Quality</h3>
              <p class="w-[85%] mx-auto lg:w-[85%]">
                We are committed to providing the highest quality landscaping
                services to our clients. Our team of professionals is dedicated
                to creating beautiful outdoor spaces that are designed to last.
              </p>
            </div> -->

            <!-- <div class="mb-3 lg:w-[33.3%] text-center">
              <h3 class="text-2xl font-bold text-center pb-3">
                Customer Service
              </h3>
              <p class="w-[85%] mx-auto lg:w-[85%]">
                We believe in providing exceptional customer service to our
                clients. Our team is dedicated to ensuring that our clients are
                satisfied with the work that we do.
              </p>
            </div>

            <div class="mb-3 lg:w-[33.3%] text-center">
              <h3 class="text-2xl font-bold text-center pb-3">
                Reliable Service
              </h3>
              <p class="w-[85%] mx-auto lg:w-[85%]">
                We understand that our clients rely on us to provide
                high-quality landscaping services. We are committed to providing
                reliable service that our clients can depend on.
              </p>
            </div> -->
          </div>
        </div>
      </div>
    </section>

    <Banner />

    <!-- Contact Us -->
    <Contact />
  </main>
</Layout>
