---
import Layout from "../layouts/Layout.astro";
import Card from "../components/Card.astro";
import Banner from "../components/Banner.astro";
import Contact from "../components/Contact.astro";
---

<Layout title="Abstracts Power Wash">
  <main>
    <section
      class="hero-section relative w-full mx-auto py-[130px] bg-home-hero bg-center bg-no-repeat bg-cover lg:py-[200px]"
    >
      <div class="background-overlay"></div>

      <div
        class="container flex h-full px-8 items-start flex-wrap mx-auto relative z-50"
      >
        <div class="w-full flex items-start relative float-left">
          <h1 class="text-5xl lg:text-6xl font-bold">
            WELCOME TO ABSTRACTS POWER WASH
          </h1>
        </div>

        <div class="w-[85%] lg:w-[70%] flex items-start relative float-left">
          <div
            class="hero_button_container flex pt-14 items-center content-start flex-wrap relative w-full self-stretch"
          >
            <div class="w-full md:w-[80%] lg:w-[90%] flex relative mb-20">
              <p class="bg-slate-50 bg-opacity-30 font-semibold md:p-3">
                Welcome to Abstracts Power Wash, we specialize in rejuvenating
                your property, leaving them sparkling clean and enchancing your
                curb appeal. Say goodye to dirt, grime, and mold. We are here to
                help you with all your pressure washing needs. Experience the
                difference and let the sunshine in—schedule your free estimate
                today!
              </p>
            </div>

            <div class="flex gap-3">
              <a
                href="#services"
                class="bg-cyan-300 font-semibold rounded-lg py-3 px-5 hover:bg-darker_cafe lg:hover:scale-105 transition-all"
                >OUR SERVICES</a
              >

              <a
                href="/contact"
                class="bg-cyan-300 font-semibold rounded-lg py-3 px-5 hover:bg-darker_cafe lg:hover:scale-105 transition-all"
                >CONTACT US</a
              >
            </div>
          </div>
        </div>
      </div>
    </section>

    <Banner />

    <!-- About Abstracts Power Wash -->
    <section class="py-12 lg:py-16">
      <div class="container mx-auto text-center px-8">
        <h2 class="text-4xl font-bold lg:text-5xl pb-3 text-black">
          ABSTRACTS POWER WASH
        </h2>

        <p
          class="w-full text-black text-base md:w-[75%] lg:w-[65%] mx-auto pt-4 pb-4 lg:pb-8"
        >
          At <span class="font-bold">Abstracts Power Wash</span>, we specialize
          in revitalizing the exterior of your home and property. Our expert
          team utilizes state-of-the-art equipment and eco-friendly cleaning
          solutions to effectively power wash houses, roofs, windows, and
          concrete surfaces. Whether you're looking to enhance your home's curb
          appeal, remove unsightly stains, or prepare for a fresh coat of paint,
          we deliver meticulous results that breathe new life into your
          surroundings. Committed to customer satisfaction, we tailor our
          services to meet your specific needs, ensuring a spotless finish that
          leaves your property looking its best. Experience the transformative
          power of a clean home with Abstracts Power Wash!
        </p>

        <button
          class="bg-gunMetal text-white px-4 py-3 rounded-lg lg:px-6 lg:py-4"
          >CONTACT US</button
        >
      </div>
    </section>
    <!-- Services Gallery -->

    <section id="services" class="py-9 bg-gunMetal">
      <div class="container mx-auto text-center px-8">
        <h2 class="text-4xl font-bold lg:text-5xl pb-3 text-white">
          OUR SERVICES
        </h2>

        <p class="w-full text-white md:w-[75%] lg:w-[75%] mx-auto lg:py-4">
          At <span class="font-bold">Abstracts Power Wash</span>, we offer
          expert power washing solutions to transform your property. From house
          washing and window cleaning to gutter cleaning, our skilled team
          delivers exceptional results. Whether you need a deep clean or regular
          maintenance, we ensure your property is both beatiful and functional.
          Discover how our services can enchance your outdoor environment.
        </p>

        <div class="flex gap-6 flex-wrap pt-5 lg:gap-4">
          <Card
            title="HOUSE WASHING SERVICE"
            body="Our house washing service is a great way to boost your curb appeal."
            link="/services/house-washing"
          />
          <Card
            title="CONCRETE WASHING SERVICE"
            body="Our concrete cleaning service will leave your driveway looking brand new."
            link="/services/concrete-washing"
          />
          <Card
            title="RESIDENTIAL WINDOW WASHING SERVICE"
            body="Our window cleaning service will leave your windows sparkling clean."
            link="/services/residential-window-washing"
          />
          <Card
            title="ROOF WASHING SERVICES"
            body="Our roof cleaning service will leave your roof looking brand new."
            link="/services/roof-washing"
          />
          <Card
            title="GUTTER WASHING SERVICES"
            body="Our gutter cleaning service will leave your gutters flowing."
            link="/services/gutter-washing"
          />
        </div>
      </div>
    </section>

    <Banner />

    <!-- Contact Us -->
    <Contact />
  </main>

  <style>
    main {
      background-color: #fff;
    }
    .astro-a {
      position: absolute;
      top: -32px;
      left: 50%;
      transform: translatex(-50%);
      width: 220px;
      height: auto;
      z-index: -1;
    }
    /* h1 {
    font-size: 4rem;
    font-weight: 700;
    line-height: 1;
    text-align: center;
    margin-bottom: 1em;
  } */
    .background-overlay {
      /* width: 100%;
		height: 100%;
		position: absolute;
		z-index: 1;
		top: 0;
		left: 0; */
    }
    .section-wrapper {
      position: relative;
    }
    .text-gradient {
      background-image: var(--accent-gradient);
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
      background-size: 400%;
      background-position: 0%;
    }
    .instructions {
      margin-bottom: 2rem;
      border: 1px solid rgba(var(--accent-light), 25%);
      background: linear-gradient(
        rgba(var(--accent-dark), 66%),
        rgba(var(--accent-dark), 33%)
      );
      padding: 1.5rem;
      border-radius: 8px;
    }
    .instructions code {
      font-size: 0.8em;
      font-weight: bold;
      background: rgba(var(--accent-light), 12%);
      color: rgb(var(--accent-light));
      border-radius: 4px;
      padding: 0.3em 0.4em;
    }
    .instructions strong {
      color: rgb(var(--accent-light));
    }
  </style>
</Layout>
