---
import Layout from "../layouts/Layout.astro";
---

<Layout title="Abstracts Power Wash - Terms">
  <main class="terms">
    <section class="relative w-full mx-auto py-[120px]">
      <div class="container mx-auto">
        <div
          class="flex flex-col-reverse flex-wrap lg:flex-row lg:flex-nowrap mx-auto"
        >
          <div class="mx-auto lg:w-[50%] lg:px-0">
            <h2 class="text-3xl font-bold pb-5 text-white">
              Terms and Conditions
            </h2>
            <p class="text-white">
              Welcome to Abstracts Power Wash ("we," "our," or "us"). By using
              our services, you agree to the following terms and conditions.
              Please read them carefully.
            </p>

            <ul class="text-white">
              <li>
                <h3>1. Services Offered</h3>
                <p>
                  We provide power washing services for residential and
                  commercial properties, including but not limited to: <ul>
                    <li>Driveways</li><li>Sidewalks</li><li>Decks</li><li>
                      Patios
                    </li><li>Siding</li><li>Roofs</li>
                  </ul>
                </p>
              </li>

              <li>
                <h3>2. Booking and Payment</h3>
                <ul>
                  <li>
                    2.1 Booking <ul>
                      <li>
                        Services can be booked through our website, phone, or
                        email.
                      </li>
                      <li>
                        A confirmation will be sent via email once the booking
                        is made.
                      </li>
                    </ul>
                  </li>

                  <li>
                    2.2 Payment <ul>
                      <li>
                        Payment is due upon completion of services unless
                        otherwise agreed.
                      </li>
                      <li>
                        We accept cash, credit cards, and electronic payments.
                      </li>
                    </ul>
                  </li>
                </ul>
              </li>

              <li>
                <h3>3. Cancellations and Rescheduling</h3>
                <ul>
                  <li>
                    Cancellations must be made at least 24 hours in advance to
                    avoid a cancellation fee.
                  </li>
                  <li>Rescheduling is subject to availability.</li>
                </ul>
              </li>

              <li>
                <h3>4. Customer Responsibilities</h3>

                <ul>
                  <li>
                    Customers must provide access to the areas to be serviced.
                  </li>

                  <li>
                    It is the customer's responsibility to remove fragile items
                    and vehicles from the service area.
                  </li>

                  <li>
                    Any damage due to unremoved items will not be the
                    responsibility of Abstracts Power Wash.
                  </li>
                </ul>
              </li>

              <li>
                <h3>5. Safety and Liability</h3>
                <p>
                  We take all necessary precautions to ensure the safety of our
                  staff and property. Abstracts Power Wash is insured, but
                  customers are responsible for any damage to their property
                  during the service.
                </p>
              </li>

              <li>
                <h3>6. Warranty and Satisfaction Guarantee</h3>
                <p>
                  We strive for 100% customer satisfaction. If you are not
                  satisfied, please contact us within 48 hours, and we will
                  address your concerns.
                </p>
              </li>

              <li>
                <h3>7. Limitation of Liability</h3>
                <p>
                  Abstracts Power Wash shall not be liable for any indirect,
                  incidental, or consequential damages arising from the use of
                  our services.
                </p>
              </li>

              <li>
                <h3>8. Governing Law</h3>
                <p>
                  These terms and conditions are governed by the laws of
                  California . Any disputes arising under these terms shall be
                  resolved in the courts of California.
                </p>
              </li>

              <li>
                <h3>9. Changes to Terms</h3>
                <p>
                  We reserve the right to modify these terms and conditions at
                  any time. Changes will be effective upon posting on our
                  website.
                </p>
              </li>

              <li>
                <h3>10. Contact Information</h3>
                <p>
                  For questions or concerns regarding these terms and
                  conditions, please contact us at: <ul>
                    <li>Abstracts Power Wash</li>
                    <li>[Your Email]</li>
                  </ul>
                </p>
              </li>

              <p>
                By using our services, you acknowledge that you have read,
                understood, and agree to these terms and conditions. Thank you
                for choosing Abstracts Power Wash!
              </p>
            </ul>
          </div>
        </div>
      </div>
    </section>
  </main>
</Layout>
