<section class="bg-banner bg-cyan-400">
  <div class="flex flex-wrap items-center content-center justify-center">
    <p class="text-black text-center text-4xl font-bold py-4">
      INVEST IN YOUR FUTURE
    </p>
  </div>
</section>
