<section
  id="contact"
  class="py-9 lg:py-[80px] lg:flex lg:flex-col lg:justify-center lg:items-center"
>
  <div class="container mx-auto text-center px-8">
    <h2 class="text-4xl font-bold lg:text-5xl pb-6 text-black lg:pb-10">
      CONTACT US
    </h2>

    <p class="w-full text-black md:w-[75%] lg:w-[65%] mx-auto pb-8 lg:pb-10">
      Ready to schedule your free estimate? Contact us today to learn more about
      our services and how we can help you. We look forward to hearing from you!
    </p>

    <a
      class="bg-gunMetal text-white px-4 py-3 rounded-lg lg:text-lg lg:px-5 lg:py-4 lg:hover:scale-105 transition-all"
      href="/contact"
      >CONTACT US
    </a>
  </div>
</section>
